# See https://help.github.com/articles/about-codeowners/ for valid syntax for entries.
# Default owners for everything in the repo, unless a later match takes precedence

# Phoenix owns the files under blacklist thingies
/HATSUNEBOT/modules/blacklistusers.py @ZenitsuID
/HATSUNEBOT/modules/sql/blacklistusers_sql.py @ZenitsuID
#pep8-ing the code doesn't change maker
/HATSUNEBOT/modules/paste.py @ZenitsuID
/HATSUNEBOT/modules/speed_test.py @ZenitsuID

