HatsuneRobot/config.py
HatsuneRobot/*.session
HatsuneRobot/*.session-journal
HatsuneRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
HatsuneRobot/modules/helper_funcs/temp.txt
HatsuneRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
HatsuneRobot.session-journal
updates.txt
*.exe
